.form-row{
	border: 1px solid gray;
	width:50%;
	display: inline-block;
	margin-top:0;
	background-color:white;
	padding:.5rem;
	transition: background-color 200ms;
}

.form-row.error{
	background-color: hsl(0, 70%, 86%);
	border-color: hsl(0, 60%, 60%);
}

.form-row + .form-row:nth-child(2n){
	border-left-width:0;
}

.form-row:nth-child(n+3){
	border-top-width:0;
}

.form-row *{
	margin-top:0;
}

.form-row label{
	display:block;
	font-size:0.7rem;
	line-height:1rem;
	vertical-align: top;
	color:gray;
	transition: color 200ms;
}

.form-row.active label{
	color:inherit;
}

.form-row input{
	background-color:hsla(0, 0%, 100%, 0.4);
	border:none;
	width:100%;
	height:2rem;
	display:inline-block;
	font-size:1.2rem;
}

.sealious-form .footer{
	text-align:right;
}

.sealious-form input[type="submit"]{
	border: none;
	line-height: 3;
	padding: 0 .5rem;
	background-color: hsl(30, 1%, 55%);
	color: white;
	font-weight: bold;
	cursor:pointer;
	transition: background-color 200ms;
}

.sealious-form input[type="submit"]:hover{
	background-color: hsl(30, 1%, 60%);
}

